
body{
    margin:0;
    padding:0;
    font-size:62.5%;
}
.big-box{
    width:57em;
    height:49em;
    position:relative;
    background-color:deeppink;
}
.pic1{
    width:7em;
    height:7em;
    position:absolute;
    left:9em;
    top:1em;
}
.pic2{
    width:7em;
    height:7em;
    position:absolute;
    left:17em;
    top:1em;
}
.pic3{
    width:7em;
    height:7em;
    position:absolute;
    left:33em;
    top:1em;
}
.pic4{
    width:7em;
    height:7em;
    position:absolute;
    left:41em;
    top:1em;
}
.pic5 {
    width: 7em;
    height: 7em;
    position: absolute;
    left: 1em;
    top: 9em;
}
.pic6 {
    width: 7em;
    height: 7em;
    position: absolute;
    left:9em;
    top: 9em;
}
.pic7 {
    width: 7em;
    height: 7em;
    position: absolute;
    left:17em;
    top: 9em;
}
.pic8{
    width: 7em;
    height: 7em;
    position: absolute;
    left:25em;
    top: 9em;
}
.pic9{
    width: 7em;
    height: 7em;
    position: absolute;
    left:33em;
    top: 9em;
}
.pic10{
    width: 7em;
    height: 7em;
    position: absolute;
    left:41em;
    top: 9em;
}
.pic11{
    width: 7em;
    height: 7em;
    position: absolute;
    left:49em;
    top: 9em;
}
.pic12{
    width: 7em;
    height: 7em;
    position: absolute;
    left: 1em;
    top: 17em;
}
.pic13{
    width: 7em;
    height: 7em;
    position: absolute;
    left:9em;
    top: 17em;
}
.pic14{
    width: 7em;
    height: 7em;
    position: absolute;
    left:17em;
    top: 17em;
}
.pic15{
    width: 7em;
    height: 7em;
    position: absolute;
    left:25em;
    top: 17em;
}
.pic16{
    width: 7em;
    height: 7em;
    position: absolute;
    left:33em;
    top: 17em;
}
.pic17{
    width: 7em;
    height: 7em;
    position: absolute;
    left:41em;
    top: 17em;
}
.pic18{
    width: 7em;
    height: 7em;
    position: absolute;
    left:49em;
    top: 17em;
}
.pic19{
    width: 7em;
    height: 7em;
    position: absolute;
    left:9em;
    top: 25em;
}
.pic20{
    width: 7em;
    height: 7em;
    position: absolute;
    left:17em;
    top: 25em;
}
.pic21{
    width: 7em;
    height: 7em;
    position: absolute;
    left:25em;
    top: 25em;
}
.pic22{
    width: 7em;
    height: 7em;
    position: absolute;
    left:33em;
    top: 25em;
}
.pic23 {
    width: 7em;
    height: 7em;
    position: absolute;
    left: 41em;
    top: 25em;
}
.pic24{
    width: 7em;
    height: 7em;
    position: absolute;
    left:17em;
    top: 33em;
}
.pic25{
    width: 7em;
    height: 7em;
    position: absolute;
    left:25em;
    top: 33em;
}
.pic26 {
    width: 7em;
    height: 7em;
    position: absolute;
    left: 33em;
    top: 33em;
}
.pic27{
    width: 7em;
    height: 7em;
    position: absolute;
    left:25em;
    top: 41em;
}
