
body{
    margin:0;
    padding:0;
    font-size:62.5%;
}
a{
    text-decoration: none;
    line-height: 3.1em;
    font-size:12px;
}
ul{
    list-style: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}
.nav{
    height:3.1em;
    width:100%;
    background-color: #f8f8f8;
    margin-top: 0;
    z-index: 300;
    border-bottom: 0.1em #eee solid;
}
#x-nav{
    margin:0 auto;
    height:3.1em;
    width:80em;
    display: block;
    border:1px solid green;
}
.nav-left{
    width:340px;
    float:left;
}
.nav-left ul li{
    display: block;
    float:left;
    width:auto;
    padding:0  0.5em;
    border-right:0.1em solid #eee;
}
.nav-right{
    width:200px;
    float:right;
}
.nav-right ul li{
    display: block;
    float:right;
    width:auto;
    padding:0  0.5em;
    border-right:0.1em solid #eee;
}
header{
    display: flex;
    margin:0 auto;
    height:94px;
    width:80em;
    flex-direction: row;
    border:1px solid red;
    margin-top:30px;
    justify-content: space-between;
}
@media only screen and (max-width:959px){
    #sign-3{
        display: none;
    }
    #x-nav {
        width:720px;
        margin:0 auto;
    }
    header{
        width:720px;
        margin:0 auto;
    }
}
@media only screen and (max-width:768px) {
    #sign-1{
        display: none;
    }
    header{
        margin-top:30px;
    }
    .pic1{
        display: block;
        margin:0 auto;
    }
}
@media only screen and (min-width:768px) {
    #sign-4{
        display: none;
    }
}
