<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="Dom.js"></script>
</head>
<body>
<h1>qaz</h1>
<div id="row">
    <div id="col-md-1  ">姓名</div>
    <div class="col-md-1 "></div>
    <div class="col-md-1 ">性别</div>
    <div class="col-md-1 "></div>
    <div class="col-md-1 ">民族</div>
    <div class="col-md-1"></div>
    <div class="col-md-1 ros"></div>
</div>
<div class=""></div>
<form >
    <input type="text" name="qazwsx" id="username" placeholder="asdfg">
</form>
</body>
</html>